#container {
    margin: 0 20%;
    background-color: #faebd7;
}

table{
    width: 100%;
    border-spacing: 5px;
}

table, th ,td{
    border: 2px solid #000;
    border-collapse: collapse;
}

th, td{
    text-align: center;
}

.img-tbl{
    width: 35%;

}

tr:nth-child(even){
    background-color: rgb(92, 145, 206);
}

tr:nth-child(odd){
    background-color: rgb(201, 191, 50);
}

th{
    background-color: blanchedalmond;
}

tr:hover{
    background-color: rgb(255, 0, 149);

}

.frm-01 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.frm-01 input {
    border-radius: 5px;

}

.frm-01 input[type="submit"] {
    border-radius: 5px;
    background-color: blue;
    border: 1px solid rgb(146, 146, 146);
    
}